.ol-mouse-position {
	right: 42px;
	color: rgb(0, 0, 0);
	font-size: 12px;
	text-align: center;
	padding: 2.5px;
	background: rgba(0, 60, 136, 0.5);
	background-clip: padding-box;
	border: 3px solid rgba(0, 0, 0, 0.7);
	border-radius: 4px;
}
.ol-overviewmap {
	left: 8px;
	bottom: 34px;
}

.popover {
width: 200px;
height: auto;
}